@import "../../styles/variables";

.stickyLabel {
  font-size: 12px;
  color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 1;
  width: 20px;

  &:before {
    border-color: transparent transparent #000 transparent;
    border-style: solid;
    border-width: 0 35px 35px;
    content: "";
    display: inline-block;
    height: 0;
    left: -12.5px;
    position: absolute;
    top: -17.5px;
    width: 0;
    z-index: -1;
  }
}

.isTopRanking {
  color: $midosuji-yellow;
  font-weight: 700;
}
